* {
     font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body { margin: 0; }

#bg {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.left, .right {
  width: 50%;
}

.left { background-color: white; }
.right { background-color: black; }

#title {
  margin: 0;
  width: 100%;
  text-align: center;

  filter: invert(1);
  mix-blend-mode: difference;

  font-size: 200px;
}

#fg {
  display: flex;
  flex-direction: row;
}

.left > *, .right > * {
  filter: invert(1);
  mix-blend-mode: difference;
  line-height: 1.75em;
}

.info {
  width: calc(65% / 2);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scroller {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

.scroller-slide {
  animation: 5s slide infinite linear;
}

#scroller:hover .scroller-slide {
  animation-play-state: paused;
}

.py { background-color: #3576a6; }
.py > * { color: #f7e025; filter: none; mix-blend-mode: normal; }
.js { background-color: #f7e025; }
.js > * { color: #3576a6; filter: none; mix-blend-mode: normal; }
.go { background-color: #00add8 }
.go > * { color: #f74b00; filter: none; mix-blend-mode: normal; }
.rs { background-color: #f74b00 }
.rs > * { color: #00add8; filter: none; mix-blend-mode: normal; }
.c { background-color: #ffffff; }
.c > * { color: #004482; filter: none; mix-blend-mode: normal; }
.cpp { background-color: #004482;}
.cpp > * { color: #ffffff; filter: none; mix-blend-mode: normal; }
.swift { background-color: #ffffff; }
.swift > * { color: #f2592a; filter: none; mix-blend-mode: normal; }
.obc { background-color: #f2592a;}
.obc > * { color: #ffffff; filter: none; mix-blend-mode: normal; }
.cs { background-color: #ffffff; }
.cs > * { color: #9b6dd6; filter: none; mix-blend-mode: normal; }
.java { background-color: #9b6dd6;}
.java > * { color: #ffffff; filter: none; mix-blend-mode: normal; }
.php { background-color: #cb392f; }
.php > * { color: #787cb5; filter: none; mix-blend-mode: normal; }
.rb { background-color: #787cb5;}
.rb > * { color: #cb392f; filter: none; mix-blend-mode: normal; }

#logo {
  background-color: white;
  padding: 10%;
  border-radius: 100%;
  margin: 0 auto;
  width: fit-content;
  border: 5px solid black;
}

.lang-head {
  font-size: 3em;
  margin: 0;
}

.vote-count {
  text-align: center;
}

.vote-button {
  border: 3px solid black;
  background: none;

  padding: 10%;
  font-size: 2em;
  font-weight: 700;
  width: fit-content;
  cursor: pointer;
}

.vote-buttons {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1em;
}

.vote-buttons > * {
  color: inherit;
}

.vote-info {
  display: flex;
  gap: 5em;
}

#group-holder {
  width: 100%;
  display: flex;
  align-items: center;
}

input {
  background: none;
  border: 1px solid black;
  width: 50%;
  font-size: 1.5em;
  box-sizing: border-box;
  padding: 2.5%;
  margin: 1% auto;
  font-weight: 700;
}

input::placeholder {
  opacity: 1;
}

#links {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}

#links > a {
  filter: invert(1);
  mix-blend-mode: difference;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;

  background-color: #000;
  padding: 1em;
  border-radius: 1em;
}

#links > a:first-child {
  margin: 0;
}

#navbar {
  background-color: #000;
  filter: invert(1);
  mix-blend-mode: difference;

  display: flex;
  justify-content: space-around;
  font-size: 1.25em;
  padding: 1em;
}

#navbar > a {
  font-weight: 800;
  cursor: pointer;
  color: #fff !important;
  text-decoration: none;
}
